*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Gantari", sans-serif;
}

img{
  max-width: 100%;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 80px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 7px;
}

h2{
  font-size: 40px;
  color: #000;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 7px;
}

.layout{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main-screen{
  background: url("../img/bg1.jpg")center center/cover no-repeat;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(10,30,40, 0.85);
  }
  &__info{
    position: relative;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;

    p{
      color: #fff;
      font-size: 20px;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
  }

  .next{
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
  }
}

.socials-nav{
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);

  li{
    padding: 14px 0;
    a{
      i{
        display: inline-block;
        font-size: 14px;
        color: #00d389;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #04563c;
        border-radius: 3px;
        transition: .2s;
        position: relative;

        &:after{
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background: #009D66;
          left: 0;
          top: 0;
          z-index: -1;
          border-radius: 3px;
          transform: scale(0);
          transition: .2s;
        }

        &:hover{
          color: white;
          &:after{
            transform: scale(1);
          }
        }
      }
    }
  }
}

.portfolio{
  padding: 50px 0 100px;
  height: 100vh;
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__item{
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
    border: 1px solid #000;
  }
}
